chromadb==0.5.4
fastapi==0.111.1
PyMuPDF==1.24.7
langchain_core==0.2.22
langchain_openai==0.1.17
Pillow==10.4.0
pydantic==2.8.2
pyngrok==7.2.0
python-dotenv==1.0.1
python_pptx==0.6.23
tqdm==4.66.4
transformers==4.42.4
